In [13]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv('marketing_customer_analysis.csv')

In [15]:
#1.Show the dataframe shape.
data.shape

(10910, 26)

# Standardize headers

In [16]:
data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [17]:
data = data.drop(['Unnamed: 0'], axis = 1)

In [18]:
data =  data.rename(columns={'EmploymentStatus':'Employment Status'})

In [19]:
cols = []
for colname in data.columns:
    cols.append(colname.lower())
data.columns = cols

In [20]:
data.columns

Index(['customer', 'state', 'customer lifetime value', 'response', 'coverage',
       'education', 'effective to date', 'employment status', 'gender',
       'income', 'location code', 'marital status', 'monthly premium auto',
       'months since last claim', 'months since policy inception',
       'number of open complaints', 'number of policies', 'policy type',
       'policy', 'renew offer type', 'sales channel', 'total claim amount',
       'vehicle class', 'vehicle size', 'vehicle type'],
      dtype='object')

In [21]:
#3. Which columns are numerical?
data.select_dtypes(np.number)

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [22]:
#4. Which columns are categorical?
data.select_dtypes(object)

,customer,state,response,coverage,education,effective to date,employment status,gender,location code,marital status,policy type,policy,renew offer type,sales channel,vehicle class,vehicle size,vehicle type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

# Check and deal with NaN values.

In [23]:
sum(data.duplicated())
data = data.drop_duplicates()
data.isna().sum()

customer                            0
state                             614
customer lifetime value             0
response                          614
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           623
months since policy inception       0
number of open complaints         623
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     608
vehicle size                      608
vehicle type                     5465
dtype: int64

In [24]:
round(data.isna().sum()/len(data),4)*100  # shows the percentage of null values in a column
nulls_df = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

                      header_name  percent_nulls
0                        customer           0.00
1                           state           5.65
2         customer lifetime value           0.00
3                        response           5.65
4                        coverage           0.00
5                       education           0.00
6               effective to date           0.00
7               employment status           0.00
8                          gender           0.00
9                          income           0.00
10                  location code           0.00
11                 marital status           0.00
12           monthly premium auto           0.00
13        months since last claim           5.73
14  months since policy inception           0.00
15      number of open complaints           5.73
16             number of policies           0.00
17                    policy type           0.00
18                         policy           0.00
19               renew offer type           0.00
20                  sales channel           0.00
21             total claim amount           0.00
22                  vehicle class           5.59
23                   vehicle size           5.59
24                   vehicle type          50.26

In [25]:
data['vehicle type'].unique()

array([nan, 'A'], dtype=object)

In [26]:
data = data[data['state'].isna()==False]  #delete when very few

In [28]:
data = data[data['response'].isna()==False] #delete when very few
display(data.shape)
display(data.isna().sum())

(10259, 25)

customer                            0
state                               0
customer lifetime value             0
response                            0
coverage                            0
education                           0
effective to date                   0
employment status                   0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           582
months since policy inception       0
number of open complaints         582
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     579
vehicle size                      579
vehicle type                     5157
dtype: int64

In [29]:
#half of vehicle type is nan, lets see
data['vehicle type'].unique()

array([nan, 'A'], dtype=object)

In [30]:
#only nan and A, so make the nans A
data['vehicle type'] = data['vehicle type'].fillna('Unknown')

In [ ]:
data["number of open complaints"].value_counts(dropna=False)

In [ ]:
data = data[data['months since last claim'].isna()==False] 
print(data.isna().sum())
data.shape

In [ ]:
data = data[data['vehicle class'].isna()==False] 
print(data.isna().sum())
data.shape

In [ ]:
data['month'] = pd.DatetimeIndex(data['effective to date']).month

In [ ]:
data[data.month.isin([1,2,3])].sort_index(ascending=True).sample(5)

In [ ]:
data['month'].unique()    #so this data already about first 2 months of the year

# lab 3

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns 
# %matplotlib inline

In [ ]:
data['response'].unique()

In [ ]:
data['response'].value_counts()

In [ ]:
#set a new column for responses in numeric value
data['response_num'] = data['response'].map(dict(Yes=1, No=0))

In [ ]:
sns.countplot(x=data['response'])

In [ ]:
data['incomes'] = pd.qcut(data['income'], q=10, duplicates='drop')
sns.barplot(x = data["response_num"], y = data['incomes'])
plt.show()

In [ ]:
data['claims'] = pd.qcut(data['total claim amount'], q=10)
sns.barplot(x = data["response_num"], y = data['claims'])
plt.show()